###### Os dados desse exercício fazem parte de um conjunto de dados sobre pessoas sem moradia em estados dos EUA.

##### Exercício 1 - Importe o dataset dados.csv e salve com o nome df

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('dados.csv', sep=',')

##### Exercício 2 - Imprima as primeiras e as últimas linhas desse dataset

In [ ]:
df.head()

,Unnamed: 0,regiao,estado,individuos,membros_da_familia,populacao_do_estado
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [ ]:
df.tail()

,Unnamed: 0,regiao,estado,individuos,membros_da_familia,populacao_do_estado
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,47,Pacific,Washington,16424.0,5880.0,7523869
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,50,Mountain,Wyoming,434.0,205.0,577601

Observação: A coluna individuos refere-se a pessoas sem moradia.

##### Exercício 3 - Elimine a coluna " Unnamed: 0"

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.head()

,regiao,estado,individuos,membros_da_familia,populacao_do_estado
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588

**Exercício 4 - Crie uma nova coluna chamada total que é a soma das colunas  individuos e membros_da_familia**

In [ ]:
df['total'] = (df['individuos'] + df['membros_da_familia'])

In [ ]:
df.head()

,regiao,estado,individuos,membros_da_familia,populacao_do_estado,total
0,East South Central,Alabama,2570.0,864.0,4887681,3434.0
1,Pacific,Alaska,1434.0,582.0,735139,2016.0
2,Mountain,Arizona,7259.0,2606.0,7158024,9865.0
3,West South Central,Arkansas,2280.0,432.0,3009733,2712.0
4,Pacific,California,109008.0,20964.0,39461588,129972.0

**Exercício 5 - Crie a coluna prop_individuos como uma  proporção de indivíduos em relação a coluna total que você criou anteriormente**

In [ ]:
df['prop_individuos'] = (df['total'] / df['individuos'])

**Exercício 6 - Imprima as primeiras linhas das colunas *individuos*, *total* e *prop_individuos***

In [ ]:
df[['individuos','total','prop_individuos']].head()

   individuos     total  prop_individuos
0      2570.0    3434.0         1.336187
1      1434.0    2016.0         1.405858
2      7259.0    9865.0         1.359003
3      2280.0    2712.0         1.189474
4    109008.0  129972.0         1.192316

**Exercício 7  - Qual estado tem o maior número de pessoas sem moradia por 10.000 pessoas ?**

Para responder siga os passos:


- Crie uma coluna, chamada indiv_por_10k, contendo o número de pessoas sem-teto(individuos) por dez mil pessoas em cada estado.

Fórmula = 10000 * df['individuos'] / df['populacao_do_estado']

- Depois filtre as linhas tais que indiv_por_10k seja  maior que 20
- Classifique os altos níveis de falta de moradia ordenando os dados em ordem decrescente pela coluna indiv_per_10k
- selecione as colunas estado e indiv_por_10k e imprima o rsultado

In [ ]:
df['indiv_por_10k'] = (10000 * df['individuos'] / df['populacao_do_estado'])

In [ ]:
df_1 = df[df['indiv_por_10k']>20]

In [ ]:
df_tratada = df_1[['estado','indiv_por_10k']].sort_values(by='indiv_por_10k', ascending=False)

In [ ]:
df_tratada

                  estado  indiv_por_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=31152f18-3036-40d1-92d9-59f0bbdc0756' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>