<div>
    <p style="float: right;"><img src="https://media.swipepages.com/2021/2/sirius-logo-principal-tag-1-300.png" height="80px"border="1px"></p>
    
</div>
<h1>Nano Desafio 6 </h1>
<h2>Pandas - estatísticas </h2>

Aluno: André Luiz Deitos

Data: 09/06/2022

##### Introdução

Já conhecemos o pandas e um pouco do seu poder para analisar dados! Agora vamos fazer alguns calculos estatísticos usando essa ferramenta já no ritmo de despedida e também como uma  prévia do que esta por vir. Afinal você está crescendo e sua jornada de Introdução ao Python está chegando ao fim!!! 

A Estatística já está batendo a porta e dando boas vindas!!

##### Estatísticas
Estatísticas resumo, para que servem? Adivinhe? - elas "resumem" muitos números!!!. Por exemplo, média, mediana, mínimo, máximo e desvio padrão são estatísticas resumidas. O cálculo de estatísticas resumidas permitem que você tenha uma noção melhor de seus dados, mesmo que você tenha milhares ou milhões!!

##### O conjunto de dados
A Walt Disney Studios já produziu mais de 600 filmes desde seu filme de estreia, Branca de Neve e os Sete Anões, em 1937. Vamos, explorar um conjunto de dados de filmes da Disney !! Esses dados foram compilados por <a href="https://data.world/kgarrett/disney-character-success-00-16">Kelly Garrett</a>. Os dados contêm 579 filmes da Disney com seis características: título do filme, data de lançamento, gênero, classificação MPAA, bilheteria bruta  e bilheteria ajustada pela inflação. </p>

1 -Importe o  dataset disney_movies_total_gross.csv e salvar com o nome dados.

In [1]:
import pandas as pd
# Leia o arquivo 
dados = pd.read_csv('disney_movies_total_gross.csv', parse_dates =['release_date'])

2 -  Imprima as primeiras linhas desse dataset

In [2]:
dados.head()

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730

Obs.: Motion Picture Association of America (MPAA) - é uma associação que tem por objetivo original garantir a viabilidade da indústria cinematográfica norte-americana. Além disso, a MPA estabeleceu diretrizes para o conteúdo de filmes que resultaram na criação do Código de Produção em 1930. 
Por exemplo, a classificação de filmes segundo essa associação é:

![wikipedia](mpaa_rating.png)

fonte:https://pt.wikipedia.org/wiki/Motion_Picture_Association

Agora, antes de mais nada vamos renomear as colunas para ficar mais fácil o entendimento?

['tit_do_filme','dt_lancamento','genero','classificacao_mpaa','bilheteria_bruta','bilheteria_ajustada_inflacao']

In [3]:
dados.columns = ['tit_do_filme','dt_lancamento','genero','classificacao_mpaa','bilheteria_bruta','bilheteria_ajustada_inflacao']

3 - Veja o dataset agora:

In [4]:
dados.head()

,tit_do_filme,dt_lancamento,genero,classificacao_mpaa,bilheteria_bruta,bilheteria_ajustada_inflacao
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730

4 -Imprima informações básicas sobre o DataFrame

In [5]:
dados.describe()

       bilheteria_bruta  bilheteria_ajustada_inflacao
count      5.790000e+02                  5.790000e+02
mean       6.470179e+07                  1.187625e+08
std        9.301301e+07                  2.860853e+08
min        0.000000e+00                  0.000000e+00
25%        1.278886e+07                  2.274123e+07
50%        3.070245e+07                  5.515978e+07
75%        7.570903e+07                  1.192020e+08
max        9.366622e+08                  5.228953e+09

In [7]:
dados.shape

(579, 6)

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tit_do_filme                  579 non-null    object
 1   dt_lancamento                 579 non-null    datetime64[ns]
 2   genero                        562 non-null    object
 3   classificacao_mpaa            523 non-null    object
 4   bilheteria_bruta              579 non-null    int64
 5   bilheteria_ajustada_inflacao  579 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 27.3+ KB

5 - Calcule a média da bilheteria ajustada

In [9]:
dados['bilheteria_ajustada_inflacao'].describe()

count    5.790000e+02
mean     1.187625e+08
std      2.860853e+08
min      0.000000e+00
25%      2.274123e+07
50%      5.515978e+07
75%      1.192020e+08
max      5.228953e+09
Name: bilheteria_ajustada_inflacao, dtype: float64

6 - Calcule a mediana da bilheterias ajustada

In [10]:
dados['bilheteria_ajustada_inflacao'].median()

55159783.0

7 - Encontre as datas máximas e minimas de lançamentos de filmes nesse dataset

In [11]:
dados['dt_lancamento'].max()

Timestamp('2016-12-16 00:00:00')

In [12]:
dados['dt_lancamento'].min()

Timestamp('1937-12-21 00:00:00')

8 - Qual filme tem maior bilheteria_ajustada_inflacao ?

In [28]:
dados.sort_values(by='bilheteria_ajustada_inflacao', ascending=False).head(1)

,tit_do_filme,dt_lancamento,genero,classificacao_mpaa,bilheteria_bruta,bilheteria_ajustada_inflacao
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251

In [23]:
dados.loc[(dados['bilheteria_ajustada_inflacao'] == dados['bilheteria_ajustada_inflacao'].max())]

,tit_do_filme,dt_lancamento,genero,classificacao_mpaa,bilheteria_bruta,bilheteria_ajustada_inflacao
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251

9 - Ordene os dados por dt_lancamento e chame de data_ordenada

In [34]:
data_ordenada = dados.sort_values(by='dt_lancamento')

In [35]:
data_ordenada

,tit_do_filme,dt_lancamento,genero,classificacao_mpaa,bilheteria_bruta,bilheteria_ajustada_inflacao
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
...,...,...,...,...,...,...
574,The Light Between Oceans,2016-09-02,Drama,PG-13,12545979,12545979
575,Queen of Katwe,2016-09-23,Drama,PG,8874389,8874389
576,Doctor Strange,2016-11-04,Adventure,PG-13,232532923,232532923
577,Moana,2016-11-23,Adventure,PG,246082029,246082029
578,Rogue One: A Star Wars Story,2016-12-16,Adventure,PG-13,529483936,529483936

10- Obtenha a soma cumulativa da bilheteria_ajustada_inflacao,adicione ao dataset com o nome de bilheteria_milionaria

In [39]:
dados['bilheteria_milionaria'] = dados['bilheteria_ajustada_inflacao'].cumsum()

In [42]:
dados.head()

,tit_do_filme,dt_lancamento,genero,classificacao_mpaa,bilheteria_bruta,bilheteria_ajustada_inflacao,bilheteria_milionaria
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052,7417182303
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808,9604273111
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579,10682783690
4,Cinderella,1950-02-15,Drama,G,85000000,920608730,11603392420

11 - Veja a coluna que você criou

In [43]:
dados['bilheteria_milionaria']

0       5228953251
1       7417182303
2       9604273111
3      10682783690
4      11603392420
          ...
574    67746527720
575    67755402109
576    67987935032
577    68234017061
578    68763500997
Name: bilheteria_milionaria, Length: 579, dtype: int64

12 - Selecione os filmes de aventura e atribua a uma variável chamada filmes_aventura

In [45]:
dados['genero'].value_counts()

Comedy                 182
Adventure              129
Drama                  114
Action                  40
Thriller/Suspense       24
Romantic Comedy         23
Musical                 16
Documentary             16
Western                  7
Horror                   6
Black Comedy             3
Concert/Performance      2
Name: genero, dtype: int64

In [44]:
filmes_aventura = dados.loc[dados['genero'] == 'Adventure']

13 - Veja as primeiras linha desse novo dataset:

In [46]:
filmes_aventura.head()

,tit_do_filme,dt_lancamento,genero,classificacao_mpaa,bilheteria_bruta,bilheteria_ajustada_inflacao,bilheteria_milionaria
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052,7417182303
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579,10682783690
5,"20,000 Leagues Under the Sea",1954-12-23,Adventure,NaN,28200000,528279994,12131672414
12,The Sword in the Stone,1963-12-25,Adventure,NaN,22182353,153870834,15450472960
21,The Rescuers,1977-06-22,Adventure,NaN,48775599,159743914,17215424200

14 - Conte o número de filmes por genero e ordene

In [48]:
dados['genero'].value_counts(ascending=True)

Concert/Performance      2
Black Comedy             3
Horror                   6
Western                  7
Musical                 16
Documentary             16
Romantic Comedy         23
Thriller/Suspense       24
Action                  40
Drama                  114
Adventure              129
Comedy                 182
Name: genero, dtype: int64

15 - Calcule agora a proporção de filmes por genero e ordene

In [51]:
dados.isnull().sum()

tit_do_filme                     0
dt_lancamento                    0
genero                          17
classificacao_mpaa              56
bilheteria_bruta                 0
bilheteria_ajustada_inflacao     0
bilheteria_milionaria            0
dtype: int64

In [53]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tit_do_filme                  579 non-null    object
 1   dt_lancamento                 579 non-null    datetime64[ns]
 2   genero                        562 non-null    object
 3   classificacao_mpaa            523 non-null    object
 4   bilheteria_bruta              579 non-null    int64
 5   bilheteria_ajustada_inflacao  579 non-null    int64
 6   bilheteria_milionaria         579 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 31.8+ KB

In [60]:
proporcao = (dados['genero'].value_counts()/562)*100

In [68]:
proporcao = (dados['genero'].value_counts(normalize=True))*100

In [69]:
proporcao

Comedy                 32.384342
Adventure              22.953737
Drama                  20.284698
Action                  7.117438
Thriller/Suspense       4.270463
Romantic Comedy         4.092527
Musical                 2.846975
Documentary             2.846975
Western                 1.245552
Horror                  1.067616
Black Comedy            0.533808
Concert/Performance     0.355872
Name: genero, dtype: float64

Estatísticas resumidas agrupadas

16 - Calcule o total da "bilheteria_bruta"

In [70]:
dados['bilheteria_bruta'].sum()

37462335553

17 - Visualize os tipos de generos que tem nesse dataset:

In [71]:
dados['genero'].unique()

array(['Musical', 'Adventure', 'Drama', 'Comedy', nan, 'Action', 'Horror',
       'Romantic Comedy', 'Thriller/Suspense', 'Western', 'Black Comedy',
       'Documentary', 'Concert/Performance'], dtype=object)

18 - Calcule o total da bilheteria_bruta pelo genero 'Drama'

In [73]:
dados.loc[dados['genero'] == 'Drama']['bilheteria_bruta'].sum()

19 - Calcule o total da bilheteria_bruta pelo genero Comedia 'Comedy'

In [80]:
dados.loc[dados['genero'] == 'Comedy']['bilheteria_bruta'].sum()

4106972970

20 - Calcule o total da bilheteria_bruta pelo genero Ação 'Action'

In [81]:
dados.loc[dados['genero'] == 'Action']['bilheteria_bruta'].sum()

4184563282

21 -  Obtenha proporção do bilheteria_bruta para os três generos acima.

In [110]:
tres_generos = dados.loc[(dados['genero'] == 'Comedy') | (dados['genero'] == 'Action') | (dados['genero'] == 'Drama')]

In [115]:
tres_generos['genero'].value_counts(normalize=True)*100

Comedy    54.166667
Drama     33.928571
Action    11.904762
Name: genero, dtype: float64

In [95]:
 proporcao = (dados['genero'].value_counts(normalize=True))*100

22 - Importe numpy com o alias np

23 - Para cada genero de filme, agregue a bilheteria_bruta obtendo min, max, média e mediana e imprima o resultado

Dica: use numpy para as estatísticas

24 - Para cada genero de filme, agregue bilheteria_bruta e bilheteria_ajustada_inflacao: obtenha o minimo, maximo, média e mediana

Está na hora de fazermos um pouco de gráficos. Não existe análise de dados sem visualização!!

In [44]:
import seaborn as sns

25 - Some a bilheteria_bruta por genero

26 - Agora sim faça um gráfico de barras com o resultado anterior!

27 - Importe o seaborn com o apelido sns

In [41]:
import seaborn as sns
sns.set()

28 -Faça um boxplot comparando a bilheteria_ajustada_inflacao dos filmes de ação e comédia

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=31152f18-3036-40d1-92d9-59f0bbdc0756' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>