In [3]:
#Importando Base de dados
import pandas as pd
netflix = pd.read_csv('titles.csv')

In [5]:
#Encontrar medidas nos dados com describe()
netflix[['imdb_score','tmdb_popularity']].describe()

        imdb_score  tmdb_popularity
count  3364.000000      3615.000000
mean      6.613912        24.421776
std       1.156372        69.874532
min       1.600000         0.009442
25%       5.900000         3.805500
50%       6.700000         8.378000
75%       7.400000        19.045000
max       9.500000      1440.855000